<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849159457463-0j8tnj3etulqp9rl0um6t3ke9q41fbem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849159457463-0j8tnj3etulqp9rl0um6t3ke9q41fbem</string>
	<key>API_KEY</key>
	<string>AIzaSyCtqCoO0NedlmsnEab8acG2CUIaH3XK9ps</string>
	<key>GCM_SENDER_ID</key>
	<string>849159457463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rakwa.turkey.com</string>
	<key>PROJECT_ID</key>
	<string>rakwa-6fafc</string>
	<key>STORAGE_BUCKET</key>
	<string>rakwa-6fafc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849159457463:ios:d9b08a402d50a0f8c8db32</string>
</dict>
</plist>